.top-bar{
  padding-top: 25px;
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo{
    display: flex;
  }

  &__icons{
    display: flex;
    gap: 24px; 
  }
}
