.top-bar{
  padding-top: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo--link{
    display: flex;
  }

  &__logo{
    @include hover(transform, scale(1.2));

    height: 46px;
    width: 64px;

    @include on-tablet{
      height: 65px;
      width: 87px;
    }
  }

  &__icons{
    display: flex;
    gap: 24px; 
  }
}
